@inherits LayoutComponentBase
@inject SchoolListService SchoolServices
@inject NavigationManager navmanager
@inject IInvokeServices InvokeServices;

<head>
    <link href="css/CustomStyle.css" rel="stylesheet" />    
</head>
<style>
    :root {
        --color-app-blue-ocean-80: @ColorsResource.AppBlueOcean80Color;
        --color-app-deep-blue: @ColorsResource.AppDeepBlueOcean100Color;
        --color-app-green: @ColorsResource.AppGreenColor;
        --color-app-red: @ColorsResource.AppRedColor;
        --color-app-orange: @ColorsResource.AppOrangeColor;
        --color-app-yellow: @ColorsResource.AppYellowColor;
        --color-app-sky-blue: @ColorsResource.AppSkyBlueColor;
        --color-app-light-blue: @ColorsResource.AppLightBlueOcean60Color;
        --color-app-gray: @ColorsResource.AppGrayColor;
        --color-app-light-gray: @ColorsResource.AppLightGrayColor;
        --color-app-dark-gray: @ColorsResource.AppDarkGrayColor;
        --color-academic-positive: @ColorsResource.AcademicPositiveColor;
        --color-academic-negative: @ColorsResource.AcademicNegativeColor;
        --color-positive-behavior: @ColorsResource.PositiveBehaviorColor;
        --color-negative-behavior: @ColorsResource.NegativeBehaviorColor;
        --color-steel-gray: @ColorsResource.SteelGrayColor;
        --color-steel-gray-2: @ColorsResource.SteelGrayColor2;
        --color-white: @ColorsResource.AppWhiteColor;
        --color-black: @ColorsResource.AppBlackColor;
        --color-off-white: @ColorsResource.AppOffWhiteColor;
        --color-surface: @ColorsResource.AppSurfaceColor;
    }

    .sidebar {
        background: var(--color-app-blue-ocean-80);
    }
</style>
@{
    bool showNav = false;

    // Check if we're on the home page
    if (navmanager.Uri.Contains("/students") || navmanager.Uri.Contains("/homePage"))
    {
        if (SchoolServices.NavDisplay)
        {
            showNav = true;
        }

    }
}

@if (showNav)
{
    <div>
        <NavMenu />
    </div>
}
<ToastContainer />
<div class="main">

    <div class="content px-4">
        <ErrorBoundary @ref="errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="Exception">
                <div class="col-12 pb-2 border-bottom">
                    <div>
                        <img style="width: 8%;" src="Images/ClasStars Wide.svg" alt="logo" class="img-fluid">
                    </div>
                    <div>
                    </div>
                </div>
                <div class="alert alert-danger" style="width: 46%;margin-top: 4%;margin-left: 25%;text-align: center;">
                    <h3>@Exception.Message</h3>
                    <button class="btn btn-danger" @onclick="BacktoLogin">@StringsResource.Layout_BackToLogin</button>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>

@code {
    private ErrorBoundary errorBoundary;
    protected override void OnInitialized()
    {
        errorBoundary = new ErrorBoundary();
    }
    public void BacktoLogin()
    {
        SchoolServices.Initialized = false;
        SchoolServices.SelectedSchool = null;
        SchoolServices.SchoolList = null;
        AppInfo.UserInfo = null;
        InvokeServices.Logout();
        SchoolServices.Email = null;
        SchoolServices.NavDisplay = false;
        navmanager.NavigateTo("", forceLoad: true);
    }

}