@page "/homePage"
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Blazored.LocalStorage
@using System.Globalization
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorage
@inject SchoolListService SchoolServices
@inject IInvokeServices InvokeServices
@inject IClasStarsServices ClasStarsServices;
<div>
    @if (isdisplay)
    {
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card boxCard">
                            <div class="card-body p-3 row align-items-center minHeight-card">
                                <div class="col-lg-4 d-flex align-items-center">
                                    <img class="img-fluid"
                                         src="Images/ClasStars Wide.svg"
                                         alt="logo" />
                                </div>
                                <div class="col-lg-8">
                                    <p class="welcome-title"><b>@string.Format(StringsResource.Home_WelcomeBack, TeacherName, userType)</b></p>
                                    <p class="mb-0">@userid</p>
                                    <p class="mb-0">@School</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card boxCard">
                            <div class="card-body p-3 row minHeight-card align-items-center">                              
                                <div class="col-lg-6 cst-date minH-45">
                                    <p class="mb-0 dateMockup d-flex @(OutOfRangeMessage != null ? "text-danger" : "")"><span>@StartDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</span><span>@EndDate.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</span></p>

                                </div>
                                <div class="col-lg-6 minH-45">     
                                    @if (!showDateRangePicker)
                                    {
                                        <button class="slct-dates" @onclick="ToggleDateRangePicker">@StringsResource.HP_SelectDates</button>
                                    }
                                    else
                                    { 
                                        <div class="cstDateRange mt-2">
                                            <SfDateRangePicker TValue="DateTime" ID="dpDAtes" @onclick="ToggleDateRangePicker" @bind-StartDate="@StartDate" @bind-EndDate="@EndDate" Placeholder="@StringsResource.HP_DateRangePlaceholder" Min="@validatestartDate" Max="@validateendDate" ShowClearButton="false" StrictMode=true>
                                                <DateRangePickerEvents TValue="DateTime" ValueChange="DateValueChangeHandler"></DateRangePickerEvents>
                                            </SfDateRangePicker>
                                            <SfButton CssClass="e-danger" @onclick="ToggleDateRangePicker">@StringsResource.HP_ClosePicker</SfButton>
                                        </div>          
                                     }
                                </div>
                                <div class="col-lg-12">
                                    <div class="row ">
                                        <div class="form-group col-lg-6 mb-1 schoolTeacher">
                                            <label for="slctSchool" class="fw-5">@StringsResource.HP_SelectSchoolLabel</label>
                                            @if (!IsAdmin)
                                            {
                                                <SfTextBox Readonly="true" Value="@DefaultSchool" Placeholder="@StringsResource.HP_SchoolPlaceholder"></SfTextBox>
                                            }
                                            else
                                            {
                                                if (SchoolServices.SchoolList != null)
                                                {
                                                   @*  if (SchoolList.Count == 0 || SchoolList.Count == 1)
                                                    {
                                                        <SfTextBox Readonly="true" Value="@DefaultSchool" Placeholder="School Name"></SfTextBox>
                                                    }
                                                    else
                                                    { *@
                                                        <SfMultiSelect TItem="RegisteredOrganizationInfo" TValue="int[]" Placeholder="@StringsResource.HP_SelectSchoolLabel" ShowSelectAll=true SelectAllText="@StringsResource.HP_SelectAll" UnSelectAllText="@StringsResource.HP_SelectAll" Mode="VisualMode.CheckBox"  ValueChanged="OnSchoolChanged" DataSource="@SchoolList" Value="@selectedschool" EnableSelectionOrder=true>
                                                            <MultiSelectFieldSettings Text="Name" Value="ID"></MultiSelectFieldSettings>
                                                        </SfMultiSelect>
                                                        @* <SfDropDownList TValue="string" TItem="string" DataSource="@selectedschool" Value="@DefaultSchool" ValueChanged="OnSchoolChanged" Mode="DropDownMode.Default" TValueField="ID"></SfDropDownList> *@
                                                    @* } *@
                                                }
                                            }
                                        </div>
                                        @if (IsAdmin)
                                            {             

                                        <div class="form-group col-lg-6 mb-1 srchDropWidth schoolTeacher">
                                            <label for="slctTeacher" class="fw-5">@StringsResource.HP_SelectTeacherLabel</label>
                                            @if (!IsAdmin)
                                            {
                                                <SfTextBox Readonly="true" Value="@TeacherName" Placeholder="@StringsResource.HP_TeacherPlaceholder"></SfTextBox>
                                            }
                                            else
                                            {
                                               @*  if (TeachersList.Count == 0 || TeachersList.Count == 1)
                                                {
                                                    <SfTextBox Readonly="true" Value="@TeacherName" Placeholder="Teacher Name"></SfTextBox>
                                                }
                                                else
                                                { *@
                                                    <SfMultiSelect TItem="EmployeeInfoDetailed" TValue="int[]" Placeholder="@StringsResource.HP_SelectTeacherLabel" ShowSelectAll=true SelectAllText="@StringsResource.HP_SelectAll" UnSelectAllText="@StringsResource.HP_SelectAll" Mode="VisualMode.CheckBox" DataSource="@TeachersList" Value="@selectedteacher" ValueChanged="OnTeacherChanged" EnableSelectionOrder=true>
                                                        <MultiSelectFieldSettings Text="EmployeeName" Value="EmployeeID"></MultiSelectFieldSettings>
                                                    </SfMultiSelect>
                                                @* } *@
                                            }
                                           
                                            @if (IsAdmin)
                                            {
                                                <i @onclick="SearchSummary" class="fa fa-search icon" aria-hidden="true"></i>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ---------------2nd row----------------- -->
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                @if (OutOfRangeMessage != null)
                                {
                                    <SfDialog Width="350px" IsModal="true" @bind-Visible="@DialogVisibleProperty">
                                        <DialogTemplates>
                                            <Header> @StringsResource.HP_Information </Header>
                                            <Content><p style="color: @ColorsResource.AppDeepBlueOcean100Color;margin: 0;">@OutOfRangeMessage</p>  </Content>
                                        </DialogTemplates>
                                        <DialogButtons>
                                            <DialogButton Content="@StringsResource.Common_Ok" IsPrimary="true" OnClick="@OkClick" />
                                        </DialogButtons>
                                    </SfDialog>
                                }                              
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>                    
                </div>
                <!-- ---------------------3rd row----------------------- -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card boxCard graphCard">
                            <SfTab CssClass="default-tab">
                                <TabAnimationSettings>
                                    <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                                    <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                                </TabAnimationSettings>
                                <TabItems>
                                    <TabItem>
                                        <ContentTemplate>
                                            <div class="row page-content mx-0" style="min-height: -webkit-fill-available;">
                                                @if (getUsageOverviewResponse != null)
                                                {
                                                    <div class="col-md-12">
                                                        <div>
                                                            <div class="col-md-12 test chart-container">
                                                                <SfChart Height="290px" Width="100%" @ref="@GlobalChart.Chart">
                                                                    <ChartPrimaryXAxis OpposedPosition=true ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
                                                                        <ChartAxisLabelStyle FontWeight="Bold" Color="Black" />
                                                                    </ChartPrimaryXAxis>
                                                                     <ChartPrimaryYAxis>
                                                                        <ChartAxisLabelStyle FontWeight="Bold" Color="Black" />
                                                                    </ChartPrimaryYAxis>

                                                                    <ChartSeriesCollection>
                                                                        <ChartSeries DataSource=@positiveEvents XName="ActivityDate" YName="ActivityCount" Type="ChartSeriesType.Spline" Width=3 Fill="#218A1F" Visible="@isCheckedPositive">
                                                                        </ChartSeries>
                                                                        <ChartSeries DataSource=@negativeEvents XName="ActivityDate" YName="ActivityCount" Type="ChartSeriesType.Spline" Width=3 Fill="#D32629" Visible="@isCheckedNegative">
                                                                        </ChartSeries>
                                                                        <ChartSeries DataSource=@academicEvents XName="ActivityDate" YName="ActivityCount" Type="ChartSeriesType.Spline" Width=3 Fill="#FDCD21" Visible="@isCheckedAcademic">
                                                                        </ChartSeries>
                                                                        <ChartSeries DataSource=@academicNegativeEvents XName="ActivityDate" YName="ActivityCount" Type="ChartSeriesType.Spline" Width=3 Fill="#FF8C2B" Visible="isCheckedNegativeAcademic">
                                                                        </ChartSeries>
                                                                    </ChartSeriesCollection>
                                                                </SfChart>
                                                            </div>
                                                            <div class="row chartStat mx-2 mt-1">
                                                                <div class="col-md-2">
                                                                    <b>@StringsResource.HP_TrackingData :</b>
                                                                </div>
                                                                @if (DAC != null)
                                                                {
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-green flex70">
                                                                            <b>@StringsResource.HP_PositiveEngagements</b>
                                                                            @DAC.PositiveEvents.Sum(s=>s.ActivityCount)
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedPositive" CheckedChanged="(Action<bool>)HandleCheckedChangedPositive"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-red flex70">
                                                                            <b>@StringsResource.HP_NegativeEngagements</b>
                                                                            @DAC.NegativeEvents.Sum(s=>s.ActivityCount)
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedNegative" CheckedChanged="(Action<bool>)HandleCheckedChangedNegative"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-yellow flex70">
                                                                            <b>@StringsResource.HP_AcademicEngagements</b>
                                                                            @DAC.AcademicEvents.Sum(s=>s.ActivityCount)
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedAcademic" CheckedChanged="(Action<bool>)HandleCheckedChangedAcademic"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-orange flex70">
                                                                            <b>@StringsResource.HP_AcademicNegativeEngagements </b>
                                                                            @DAC.AcademicNegativeEvents.Sum(s=>s.ActivityCount)
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedNegativeAcademic" id="sfchk" CheckedChanged="(Action<bool>)HandleCheckedChangedNegativeAcademic"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 p-2 demoGraph">
                                                                        <b>@StringsResource.HP_Demographics</b>
                                                                        <br>
                                                                        @StringsResource.HP_Session: <b>@getUsageOverviewResponse.SessionCount</b>
                                                                        <br>
                                                                        @if (IsAdmin)
                                                                        {
                                                                            @StringsResource.HP_Teachers <b>@getUsageOverviewResponse.TeacherCount</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            @StringsResource.HP_Students <b>@getUsageOverviewResponse.StudentCount</b>
                                                                        }
                                                                        @* <br>
                                                                        @if (IsAdmin)
                                                                        {
                                                                        @StringsResource.HP_Students @getUsageOverviewResponse.StudentCount
                                                                        } *@
                                                                        <br>
                                                                        @StringsResource.HP_AttendanceRecorded: <b>@getUsageOverviewResponse.AttendanceCount</b>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                        <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-green flex70">
                                                                            <b>@StringsResource.HP_PositiveEngagements</b>
                                                                            @resultLineChart.PositiveEvents.Count
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedPositive" CheckedChanged="(Action<bool>)HandleCheckedChangedPositive"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-red flex70">
                                                                            <b>@StringsResource.HP_NegativeEngagements</b>
                                                                            @resultLineChart.NegativeEvents.Count
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedNegative" CheckedChanged="(Action<bool>)HandleCheckedChangedNegative"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-yellow flex70">
                                                                            <b>@StringsResource.HP_AcademicEngagements</b>
                                                                            @resultLineChart.AcademicEvents.Count
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedAcademic" CheckedChanged="(Action<bool>)HandleCheckedChangedAcademic"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 position-relative d-flex">
                                                                        <div class="stats-before-orange flex70">
                                                                            <b>@StringsResource.HP_AcademicNegativeEngagements </b>
                                                                            @resultLineChart.AcademicNegativeEvents.Count
                                                                        </div>
                                                                        <SfCheckBox Checked="@isCheckedNegativeAcademic" id="sfchk" CheckedChanged="(Action<bool>)HandleCheckedChangedNegativeAcademic"></SfCheckBox>
                                                                    </div>
                                                                    <div class="col-md-2 p-2 demoGraph">
                                                                        <b>@StringsResource.HP_Demographics</b>
                                                                        <br>
                                                                        @StringsResource.HP_Session: <b>@getUsageOverviewResponse.SessionCount</b>
                                                                        <br>
                                                                        @if (IsAdmin)
                                                                        {
                                                                            @StringsResource.HP_Teachers <b>@getUsageOverviewResponse.TeacherCount</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            @StringsResource.HP_Students <b>@getUsageOverviewResponse.StudentCount</b>
                                                                        }
                                                                        @* <br>
                                                                        @if (IsAdmin)
                                                                        {
                                                                        @StringsResource.HP_Students @getUsageOverviewResponse.StudentCount
                                                                        } *@
                                                                        <br>
                                                                        @StringsResource.HP_AttendanceRecorded: <b>@getUsageOverviewResponse.AttendanceCount</b>
                                                                    </div>                                                               
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </ContentTemplate>
                                    </TabItem>
                                </TabItems>
                            </SfTab>
                        </div>
                    </div>
                </div>
                <!-- -------------------------- 4th row ------------- -->
                <div class="row">
                    @if (PosNegStatisticsDetails != null && AttendStatisticsDetails != null)
                    {
                        <div class="col-md-4 px-3">
                            <div class="card boxCard text-center">
                                <div>
                                    @if(PosNegStatisticsDetails!=null)
                                    {
                                    <SfAccumulationChart Height="150px" Width="200px" Background="#ededed" EnableAnimation="false">
                                        <AccumulationChartCenter X="55%" Y="55%" />
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries DataSource="@PosNegStatisticsDetails" XName="Name" YName="Percentage" Radius="100%" PointColorMapping="color" />
                                        </AccumulationChartSeriesCollection>
                                        <AccumulationChartLegendSettings Visible="false" />
                                        </SfAccumulationChart>
                                    }
                                    else
                                    {
                                        
                                    }
                                    <div class="custom-chart-title">
                                        <strong>@StringsResource.HP_PositivityQuotient</strong>
                                    </div>
                                </div>
                                <div class="d-inline-flex justify-content-center piBox-height">
                                    <div class="box " style="background-color: @ColorsResource.AppGreenColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Pos</p>
                                    <div class="box ml-3" style="background-color: @ColorsResource.AppRedColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Neg</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-3">
                            <div class="card boxCard  text-center">

                                <div>
                                    @if(AttendStatisticsDetails!=null)
                                    {
                                    <SfAccumulationChart Height="150px" Width="200px" Background="#ededed" EnableAnimation="false">
                                        <AccumulationChartCenter X="55%" Y="55%" />
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries DataSource="@AttendStatisticsDetails" XName="Name" YName="Percentage" Radius="100%" PointColorMapping="color" />
                                        </AccumulationChartSeriesCollection>
                                        <AccumulationChartLegendSettings Visible="false" />
                                        </SfAccumulationChart>
                                    }
                                    else
                                    {
                                        
                                    }
                                    <div class="custom-chart-title">
                                        <strong>@StringsResource.HP_InclusitivityQuotient</strong>
                                    </div>
                                </div>
                                <div class="d-inline-flex justify-content-center piBox-height flex-wrap">
                                    <div class="box " style="background-color: @ColorsResource.AppSkyBlueColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Absent</p>
                                    <div class="box  ml-3" style="background-color: @ColorsResource.AppRedColor"></div>
                                    <p class="ml-1">@StringsResource.HP_NeedsSupport</p>
                                    <div class="box ml-3" style="background-color: @ColorsResource.AppGreenColor"></div>
                                    <p class="ml-1">@StringsResource.HP_ProperlyEngaged</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-3">
                            <div class="card boxCard  text-center">


                                <div>
                                    @if (ColorChartDetails!=null)
                                    {
                                        <SfAccumulationChart Height="150px" Width="200px" Background="#ededed" EnableAnimation="false">
                                            <AccumulationChartCenter X="55%" Y="55%" />
                                            <AccumulationChartSeriesCollection>
                                                <AccumulationChartSeries DataSource="@ColorChartDetails" Visible="@IsColorChartVisible" XName="Name" YName="Percentage" Radius="100%" PointColorMapping="color" />
                                            </AccumulationChartSeriesCollection>
                                            <AccumulationChartLegendSettings Visible="false" />
                                        </SfAccumulationChart>
                                    }
                                    else
                                    {
                                        <br>
                                        <br>
                                        <br>
                                        <p><b>@StringsResource.NoData</b></p>
                                        <br>
                                        <br>
                                    }
                                    <div class="custom-chart-title">
                                        <strong>@StringsResource.HP_EngagementsChart</strong>
                                    </div>
                                </div>
                                <div class="d-inline-flex justify-content-center piBox-height flex-wrap">
                                    <div class="box " style="background-color: @ColorsResource.AppRedColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Severe</p>
                                    <div class="box  ml-3" style="background-color: @ColorsResource.AppOrangeColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Warning</p>
                                    <div class="box ml-3" style="background-color: @ColorsResource.AppYellowColor"></div>
                                    <p class="ml-1">@StringsResource.HP_Fair</p>
                                    <div class="box ml-3" style="background-color: @ColorsResource.AppSkyBlueColor"></div>
                                    <p class="ml-2">@StringsResource.HP_Good</p>
                                    <div class="box ml-3" style="background-color: @ColorsResource.AppGreenColor"></div>
                                    <p class="ml-2">@StringsResource.HP_Excellent</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 text-center " style="padding: 4% 4% 4% 21%;">
                            <p class="text-danger no-chart-message">@StringsResource.HP_NOChartDetailsfound</p>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <div id="container">
            <SfSpinner Label="Data Loading..." @bind-Visible="@VisibleProperty">
            </SfSpinner>
        </div>
    }
</div> 

