@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject SchoolListService SchoolServices
@inject NavigationManager NavigationManager
@inject CommonLocalizationService LocalizationService
@inject IInvokeServices InvokeServices;


<div class="container h-100  login-page">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-12 pb-2">
            <div>
                <img src="Images/ClasStars Wide.svg" alt="logo" class="img-fluid login-logo">
            </div>
            <div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-12 col-12">
            <div class="login-frm mt-2">
                <div class="frm-logo ">
                    <span>@LocalizationService.GetString("Resources.StringsResource", "WelcomeClasstar")</span>
                </div>
                <div class="frm-logo login-heading">
                    <span style="font-size: 22px;">@LocalizationService.GetString("Resources.StringsResource", "Pleaselogin")</span>
                    <p class="m-0 login-subtitle">@LocalizationService.GetString("Resources.StringsResource", "selectionmessage")</p>
                </div>

                @{
                    if (ProviderList == null)
                    {
                        <p>Loading...</p>
                    }
                    else if (ProviderList.Count == 0)
                    {
                        <p>No providers available.</p>
                    }
                    else
                    {
                        int i = 0;
                        foreach (var item in OrderButton.OrderByDescending(m => m.LastLoginDate))
                        {
                            // if(item.Name=="Google")
                            // {
                            //     HandleLogin("Google");
                            // }
                            if (i <= 2)
                            {
                                <button @onclick="() => HandleLogin(item.Name)" class="btn login-btn img-btn">
                                    <img style="margin-left:3px;margin-right:8px;" src="@item.ImageUrl" class="img-flud" alt="">
                                    <span>Sign in with @item.Name</span>
                                </button>
                            }
                            else
                            {
                                <div class="circle-icon">
                                    <button @onclick="() => HandleLogin(item.Name)" title="Sign in with @item.Name"><img style="width:30px;border-radius: 30%;" class="img-flud" src="@item.ImageUrl"></button>
                                </div>
                            }
                            i++;
                        }
                    }
                }

            </div>
            <div class="privacyLink">
                <a href="https://www.classtars.com/privacy-policy" target="_blank">@LocalizationService.GetString("Resources.StringsResource", "PrivacyLink")</a>
            </div>
        </div>
    </div>
</div>