@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject SchoolListService SchoolServices
@inject NavigationManager NavigationManager
@inject CommonLocalizationService LocalizationService
@inject IInvokeServices InvokeServices;

<style>
    :root {
        --app-surface: @ColorsResource.AppSurfaceColor;
        --app-surface-border: @ColorsResource.AppSurfaceBorderColor;
        --app-surface-shadow: @ColorsResource.AppSurfaceShadowColor;
        --app-accent: @ColorsResource.AppDeepBlueOcean100Color;
        --app-accent-muted: @ColorsResource.AppLightBlueOcean60Color;
        --app-text: @ColorsResource.SteelGrayColor;
    }
</style>

<div class="container login-page">
    <div class="row justify-content-center w-100">
        <div class="col-12 brand-row">
            <img src="Images/ClasStars Wide.svg" alt="@LocalizationService.GetString(\"Resources.StringsResource\", \"BrandLogoAltText\")" class="img-fluid brand-image">
        </div>
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-12 col-12">
            <div class="login-frm mt-2">
                <div class="frm-logo">
                    <span>@LocalizationService.GetString("Resources.StringsResource", "WelcomeClasstar")</span>
                </div>
                <div class="frm-logo login-subtitle">
                    <span>@LocalizationService.GetString("Resources.StringsResource", "Pleaselogin")</span>
                    <p class="selection-message">@LocalizationService.GetString("Resources.StringsResource", "selectionmessage")</p>
                </div>

                @{
                    if (ProviderList == null)
                    {
                        <p class="text-muted">@LocalizationService.GetString("Resources.StringsResource", "LoadingProviders")</p>
                    }
                    else if (ProviderList.Count == 0)
                    {
                        <p class="text-muted">@LocalizationService.GetString("Resources.StringsResource", "NoProvidersAvailable")</p>
                    }
                    else
                    {
                        int i = 0;
                        foreach (var item in _providerButtons.OrderByDescending(m => m.LastLoginDate))
                        {
                            if (i <= 2)
                            {
                                <button @onclick="() => HandleLogin(item.Name)" class="btn login-btn">
                                    <img src="@item.ImageUrl" class="provider-avatar" alt="@string.Format(LocalizationService.GetString(\"Resources.StringsResource\", \"ProviderLogoAltTemplate\"), item.Name)">
                                    <span>@LocalizationService.GetString("Resources.StringsResource", "SignInWith") @item.Name</span>
                                </button>
                            }
                            else
                            {
                                <div class="circle-icon">
                                    <button @onclick="() => HandleLogin(item.Name)" title="@LocalizationService.GetString(\"Resources.StringsResource\", \"SignInWith\") @item.Name">
                                        <img src="@item.ImageUrl" alt="@string.Format(LocalizationService.GetString(\"Resources.StringsResource\", \"ProviderLogoAltTemplate\"), item.Name)">
                                    </button>
                                </div>
                            }
                            i++;
                        }
                    }
                }

            </div>
            <div class="login-footer">
                <div class="privacyLink">
                    <a href="https://www.classtars.com/privacy-policy" target="_blank">@LocalizationService.GetString("Resources.StringsResource", "PrivacyLink")</a>
                </div>
            </div>
        </div>
    </div>
</div>
