@page "/students"

@using Syncfusion.Blazor.ImageEditor;
@using My.ClasStars.Models;
@using System.IO;
@using My.ClasStars.Components



@if (_contacts == null)
{
    <p><em>@StringsResource.Students_Loading</em></p>
}
else
{
    <div class="pictureManage">
        <div class="leftPnl @((!HomePage.IsAdmin) ? "w-50 fit-content" : "")">
            <div class="">
                <div class="input-group cardSearch">
                    <input type="text" class="form-control" @bind="@value" @oninput="@(ui => { value = (string)ui.Value; })" id="txtsearch" placeholder="@StringsResource.Students_SearchPlaceholder" aria-label="@StringsResource.Students_SearchPlaceholder" aria-describedby="button-addon2">
                    <div class="position-relative">
                        <button class="inputSrchBTN p-0" @onclick="GetFilterList"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="contact-filters mt-2">
                    <label class="me-3">
                        <input type="checkbox"
                               @bind="filterWithImage"
                               @bind:event="onchange"
                               @bind:after="ApplyFilters" />
                        @StringsResource.Students_FilterWithImage
                    </label>

                    <label>
                        <input type="checkbox"
                               @bind="filterWithoutImage"
                               @bind:event="onchange"
                               @bind:after="ApplyFilters" />
                        @StringsResource.Students_FilterWithoutImage
                    </label>
                </div>



            </div>
            <div class="cstUserLists">
                @foreach (ContactInfoModel student in _displayContactModels)
                {
                    <div id="@student.ContactID" @ondragover="DragOver" @ondragover:preventDefault="true"
                         @ondrop="@(e => DragDrop(e, student))"
                         @onmousedown="() => FilterList(student.FirstName + ' ' + student.LastName)">
                        <div class="e-card e-avatar-showcase cstEcard">
                            <div id="element" class="avatar-sub-block">
                                <span>
                                    <span>@student.FileAs</span>
                                    <br />
                                    <b>@StringsResource.StudentList_PersonID:   </b>
                                    <span class="font-weight-400">@student.PersonID</span>
                                </span>
                                @if (student.ContactPicture == null)
                                {
                                    <span class="e-avatar e-avatar-xlarge e-avatar-circle blue no-select" @ondblclick="() => LoadContact(student)">@student.Initials</span>
                                }
                                else
                                {
                                    <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                                        @{ 
                                            var imgg = $"data:image/png;base64,{Convert.ToBase64String(student.ContactPicture)}";
                                        }
                                        <img src="@imgg"
                                             alt="@StringsResource.Students_ProfilePictureAlt"
                                             @ondblclick="@(async () => await LoadContact(student))" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (HomePage.IsAdmin)
        {
            <div class="rightPnl @ShowHide">
                <div class="inputRight">
                    @{
                        if (StatusMessage.Contains("success"))
                        {
                            <span class="Success">@StatusMessage</span>
                        }
                        else
                        {
                            <span class="Error">@StatusMessage</span>
                        }
                    }
                    <div class="file-input-zone">
                        <InputFile OnChange="LoadFiles" multiple accept=".jpg,.jpeg, .png" />
                        <InputFile OnChange="LoadFiles" accept=".jpg,.jpeg, .png" @ref="fileInputSingle" hidden />
                        <span>@StringsResource.HP_SelectPictures</span>
                    </div>
                    <div class="editorIcons upDown-icon spaceEven">
                        <div class=" e-avatar e-avatar-circle e-avatar-large @refreshClass">
                            @{
                                int itemCount = (from c in ImageURI where c.IsVis == true select c).ToList().Count;
                                if (ImageURI.Count > 0 && itemCount <= ImageURI.Count)
                                {
                                    refreshClass = "enablerImg";
                                }
                                else
                                {
                                    refreshClass = "disableImg";
                                }
                            }
                            <img src="@refreshPath" @onclick="All" title="@StringsResource.Students_Status_ReloadAll" />
                        </div>
                    </div>
                </div>

                <div class="inputImages" id="imageContainer" @onmousedown="All">
                    @if (!isProcessingFiles)
                    {
                        var visibleList = ImageURI.Where(c => c.IsVis).ToList();
                        if (visibleList.Count > 0)
                        {
                            foreach (var ss in visibleList)
                            {
                                if (!string.IsNullOrWhiteSpace(ss.ImageUrl))
                                {
                                    <div class="img-card">
                                        <img class="img-item @(ss.IsSqu.Value ? "imgGreen" : "imgRed")"
                                             src="@ss.ImageUrl"
                                             @ondblclick="() => LoadImage(ss)"
                                             draggable="true"
                                             @ondragstart="@(e => DragStart(e, ss))"
                                             loading="lazy" />

                                        <div class="inputImages-label">
                                            @Path.GetFileNameWithoutExtension(ss.ImageName)
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="empty-state">@StringsResource.Students_NoImages</div>
                        }
                    }
                    else
                    {
                        <div class="loader">@StringsResource.Students_LoadingImages</div>
                    }
                </div>

            </div>
        }
    </div>
    <ImageEditorModal @ref="editorModal"
                      ImageURI="@ImageURI"
                      ImageURIChanged="@OnImageUriChanged"
                      ContactPictureUpdated="@OnContactPictureUpdated"
                      @bind-Visible="isEditorVisible" />

}