@page "/students"

@using Syncfusion.Blazor.ImageEditor;
@using My.ClasStars.Models;
@using System.IO;
@using My.ClasStars.Components

@inject SchoolListService SchoolServices;
@inject IClasStarsServices ClasStarsServices;
@inject IJSRuntime JSRuntime;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment;



@if (_contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="pictureManage">
        <div class="leftPnl @((!HomePage.IsAdmin) ? "w-50 fit-content" : "")">
            <div class="">
                <div class="input-group cardSearch">
                    <input type="text" class="form-control" @bind="@value" @oninput="@(ui => { value = (string)ui.Value; })" id="txtsearch" placeholder="Search" aria-label="search" aria-describedby="button-addon2">
                    <div class="position-relative">
                        <button class="inputSrchBTN p-0" @onclick="GetFilterList"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="cstUserLists">
                @foreach (ContactInfoModel student in _contactModels)
                {
                    <div id="@student.ContactID" @ondragover="DragOver" @ondragover:preventDefault="true"
                         @ondrop="@(e => DragDrop(e, student))"
                         @onmousedown="() => FilterList(student.FirstName + ' ' + student.LastName)">
                        <div class="e-card e-avatar-showcase cstEcard">
                            <div id="element" class="avatar-sub-block">
                                <span>@student.FileAs</span>
                                @if (student.ContactPicture == null)
                                {
                                    <span class="e-avatar e-avatar-xlarge e-avatar-circle blue" @onclick="() => LoadContact(student)">@student.Initials</span>
                                }
                                else
                                {
                                    <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                                        @{
                                            var imgg = $"data:image/png;base64,{Convert.ToBase64String(student.ContactPicture)}";
                                        }
                                        <img src="@imgg"
                                             alt="profile_pic"
                                             @onclick="@(async () => await LoadContact(student))" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (HomePage.IsAdmin)
        {
            <div class="rightPnl @ShowHide">
                <div class="inputRight">
                    @{
                        if (StatusMessage.Contains("success"))
                        {
                            <span class="Success">@StatusMessage</span>
                        }
                        else
                        {
                            <span class="Error">@StatusMessage</span>
                        }
                    }
                    <div class="file-input-zone">
                        <InputFile OnChange="LoadFiles" multiple accept=".jpg,.jpeg, .png" /> Select Pictures
                        <InputFile OnChange="LoadFiles" accept=".jpg,.jpeg, .png" @ref="fileInputSingle" hidden />
                    </div>
                    <div class="editorIcons upDown-icon spaceEven">
                        <div class=" e-avatar e-avatar-circle e-avatar-large @refreshClass">
                            @{
                                int itemCount = (from c in ImageURI where c.IsVis == true select c).ToList().Count;
                                if (ImageURI.Count > 0 && itemCount <= ImageURI.Count)
                                {
                                    refreshClass = "enablerImg";
                                }
                                else
                                {
                                    refreshClass = "disableImg";
                                }
                            }
                            <img src="@refreshPath" @onclick="All" title="Reload All" />
                        </div>
                    </div>
                </div>

                <div class="inputImages" id="imageContainer" @onmousedown="All">
                    @if (!isProcessingFiles)
                    {
                        @if ((from c in ImageURI where c.IsVis == true select c).ToList().Count > 0)
                        {
                            foreach (ImageDetail ss in ImageURI)
                            {
                                if (ss.IsVis == true && ss.ImageUrl != "")
                                {
                                    <div class="imgName-wrap">
                                        @if (ss.IsSqu == true)
                                        {
                                            <img class="imgGreen" src="@ss.ImageUrl" @onclick="() => LoadImage(ss)" draggable="true" @ondragstart="@(e => DragStart(e, ss))" />
                                        }
                                        else
                                        {
                                            <img class="imgRed" src="@ss.ImageUrl" @onclick="() => LoadImage(ss)" draggable="true" @ondragstart="@(e => DragStart(e, ss))" />
                                        }
                                        <span class="label">@Path.GetFileNameWithoutExtension(ss.ImageName)</span>
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        <div class="loader">Loading images…</div>
                    }
                </div>
            </div>
        }
    </div>
    @* Component: now with ImageURIChanged callback *@
    <ImageEditorModal @ref="editorModal"
                      ImageURI="@ImageURI"
                      ImageURIChanged="@OnImageUriChanged"
                      ContactPictureUpdated="@OnContactPictureUpdated"
                      @bind-Visible="isEditorVisible" />

}